* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #48CAE4;
  text-align: center;
  margin: 25% auto;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form-container h1 {
  margin-bottom: 10%;
}

#city-selection {
  display: flex;
  justify-content: center;
}

#city-selection input {
  width: 200px;
  height: 25px;
  font-size: 15px;
}

#pollution-data {
  margin: 15% 10px;
  font-size: 18px;
}

.result-icon {
  width: 128px;
  height: 128px;
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  #data-container {
    display: flex;
    justify-content: space-around;
  }

  .result-icon {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 900px) {
  body {
    background-color: #1D3557;
    margin: 7% auto;
  }

  div {
    background-color: #48CAE4;
    margin: 0 15%;
  }

  #data-container {
    display: flex;
    flex-direction: column;
  }

  #pollution-data {
    font-size: 24px;
    margin: 5% auto;
  }

  .result-icon {
    margin-bottom: 40px;
    width: 192px;
    height: 192px;
  }

  #form-container h1 {
    font-size: 55px;
  }

  #city-selection input {
    width: 300px;
    height: 40px;
    font-size: 26px;
  }

  #city-selection button {
    height: 40px;
    width: 70px;
    font-size: 18px;
  }
}
